@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    font-family: 'Questrial', sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sair{
    margin-top: 20px;
}

.add_show{
    width: 20vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_show input{
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}

.shows-existentes{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 20vw;
}