@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root{
    --gold:#ebe2b5;
}

body{
    font-family: 'Questrial', sans-serif;
    height: 100vh;
    text-align: center;
    align-items: center;
}
.ancora{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 15px;
    background: var(--gold);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin: 20px;
    width: 5vw;
    height: 10vh;
}
.logo-ml{
    width: 20vh;
}
.menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}