@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --gold: #ebe2b5;
}
.logo-container{
    display: none;
}
body {
    font-family: 'Questrial', sans-serif;
    height: 100vh;
    text-align: center;
    margin: 0;
    background-color: #EBDCAF;
    overflow-x: hidden;
}

section {
    background-image: url(../IMG/background-teste-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

header {
    top: 0;
    z-index: 999;
    border-bottom: 1px solid black;
}

/* Design dos botões */
.ancora {
    border: 2px solid rgb(109, 92, 66);
    border-radius: 10px;
    background: #dfbf96;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 10vw;
    color: black;
}
.ancora:hover {
    color: white;
}
/* Div com LOGO e Botões */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EBDCAF;
    height: 18vh;
    gap: 1vw;
}

.menu li{
    margin: 3vw;
}

/* configurando tamanho da logo */
.logo img {
    max-width: 22vw;
    max-height: 22vh;
}


/* .nav-bar {
    display: flex;
    align-items: center;
    gap: 30px;
} */

.nav-bar nav > ul {
    display: flex;
    list-style: none;
    gap: 30px;
} 

.nav-bar nav > ul > li {
    font-size: 0.9em;
    font-weight: bold;
    color: black;
}

.nav-bar nav > ul > li > a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.nav-bar nav > ul > li > a:hover{
    color: white;
}

/* Icones dos contatos */
.icones {
    display: flex;
    gap: 4vw;
    margin-top: 20px;
    justify-content: center;
}

.contatos {
    height: 5.5vh;
}

.copyright {
    margin-top: 30px;
}

/* criando o hamburguer menu */
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 60px;
    height: 8px;
    background-color: #000000;
    margin: 8px;
    border-radius: 10px;
}

/* responsividade */
@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .logo-container{
        display: flex;
        margin: auto;
    }
    .menu .logo {
        display: none;
    }

    .ancora{
        width: 50vw;
        background: none;
        border: unset;
    }
    .logo img {
        max-width: 500px;
        max-height: 250px;
    }
    .menu{
        margin-top: 20vh;
        background: none;
    }


    /* margem da header mobile */
    .content-header {
        margin: 0 10vw;
    }

    /* invertendo a posição da logo com o menu hamburguer */
    .flex-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 25vh;
    }

    .mobile-menu {
        order: 0;
        display: block;
    }
    
    .content-header {
        display: block;
    }

    /* criando o hamburguer menu fechar (X) */
    .mobile-menu-fechar {
        cursor: pointer;
        padding: 20px 0px;
        width: 100%;
        border-bottom: 1px solid #000000;
    }

    .mobile-menu-fechar div {
        width: 40px;
        height: 5px;
        background-color: #000000;
        margin: 8px;
        border-radius: 10px;
    }
    .mobile-menu-fechar .line1{
        transform: rotate(-45deg) translate(-1px, 7px);
    }

    .mobile-menu-fechar .line2{
        transform: rotate(45deg) translate(-2px, -8px);
    }

    .nav-bar {
        transform: translateX(-120%);
        transition: transform 0.3s ease-in;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: start;
        width: 70vw;
        height: 100vh;
        background-color: #BBA154;
        box-shadow: 2px 0px 13px 6px rgba(53, 53, 53, 0.75);
        z-index: 1000;
    }

    .active {
        transform: translateX(0);
    }

    .nav-bar nav {
        width: 80%;
    }

    .nav-bar nav > ul{
        flex-direction: column;
    }

    .nav-bar nav > ul > li {
        padding: 0px;
        font-size: 0.9em;
        font-weight: bold;
        border-bottom: 2px solid black;
    }

    .nav-bar nav > ul > li > a {
        text-decoration: none;
        color: #000000;
    }
    
    /* botão compre já */
    .nav-bar button{
        background-color: #E7E6DF;
        margin: 20px auto;
        margin-left: 10px;
    }

    .nav-bar button > p{    
        color: #BBA154;
    }


    /* reconfigurando a nav-bar para o mobile */

}

