body{
    /* background:linear-gradient(rgba(47, 15, 226, 0.308), rgba(141, 121, 31, 0.568)), url(/IMG/backgrounds/background-teste.jpg); */
    height: 100vh;
}

.carousel-inner{
    height: 30vh;
    width: 25vw;
    display: flex;
    align-items: center;
}

.container{
    height: 31vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}

