.menu-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sobre-artista{
    padding: 20px 0px 60px 0px;
}

.op-clientes{
    padding-bottom: 40px;
}

.sobre {
    text-align: justify;
    padding: 2vw;
    font-size: 1.2em;
}

.sobre-div {
    background-color: rgba(255, 255, 255, 0.562);
    height: 20vh;
    width: 60vw;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #c5c1bc;
}

.title-sobre,
.avaliacao {
    color: rgb(0, 0, 0);
}

/* Carrossel de avaliação */

ul {
    list-style: none;
}

.nome-cli {
    text-align: start;
}

.avaliacao-li {
    text-align: justify;
    margin-top: 2vh;
    font-size: 0.6em;
}

.carrosel-clientes {
    display: flex;
    background-color: rgba(255, 255, 255, 0.582);
    height: 20vh;
    width: 50vw;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    box-shadow: 0px 5px 10px #c5c1bc;
}

.carousel-container {
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-controls {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.carrosel-clientes button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

@media screen and (max-width: 1360px) {
    .sobre{
        font-size: 0.8em;
    }
}

/* Mídia Screen para telas menores (max-width: 900px) */
@media screen and (max-width: 900px) {
    .nome-cli {
        text-align: start;
        font-size: 0.8em;
    }

    .avaliacao-li {
        text-align: justify;
        margin-top: 2vh;
        font-size: 0.6em;
    }

    .carrosel-clientes {
        display: flex;
        background-color: rgba(255, 255, 255, 0.582);
        height: 30vh;
        width: 100vw;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .sobre-div {
        width: 80vw;
    }
}

/* Mídia Screen para telas muito pequenas (max-width: 600px) */
@media screen and (max-width: 700px) {
    body{
        width: 100vw;
    }
    .nome-cli {
        text-align: start;
        font-size: 0.8em;
    }
    .sobre{
        font-size: 0.65em;
    }
    .sobre-div{
        height: 30vh;
        width: 5vw;
    }
    .avaliacao-li {
        text-align: justify;
        font-size: 0.5em;
    }

    .nome-cli{
        margin-top:40px;
    }
    .carrosel-clientes {
        display: flex;
        background-color: rgba(255, 255, 255, 0.582);
        height: 30vh;
        width: 100vw;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .sobre-div {
        width: 80vw;
    }
}
@media screen and (max-width: 280px) {
    body{
        width: 120vw;
    }
    .nome-cli {
        text-align: start;
        font-size: 0.8em;
    }
    .sobre{
        font-size: 0.55em;
    }
    .sobre-div{
        height: 30vh;
        width: 5vw;
    }
    .avaliacao-li {
        text-align: justify;
        font-size: 0.43em;
    }

    .nome-cli{
        margin-top:40px;
    }
    .carrosel-clientes {
        display: flex;
        background-color: rgba(255, 255, 255, 0.582);
        height: 30vh;
        width: 100vw;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .sobre-div {
        width: 80vw;
    }
}