@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: 'Questrial', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.568)), url(../IMG/logos/logo-branca-fundo-gold.png);
    font-weight: bold;
    background-position: center;
    background-attachment: fixed;
}

h1{
    font-size: 1.5vw;
}
section{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebe2b5dc;
    padding: 15px;
    border-radius: 15px;
    width: 15%;
    text-align: center;
    padding: 50px;
}


.restrita-input{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(49, 49, 49);
    outline: none;
    color: rgb(28, 28, 28);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    margin: 20px 0;
}

.entrar{
    color: black;
    font-weight: bold;
    background: linear-gradient(0.25turn,#dbcf94, #d4b995 );
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    font-size: 1vw;
    margin-top: 30px;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.entrar:hover{
    cursor: pointer;
    background: linear-gradient(0.25turn,#e9d1b1, #eee2a8 );
    box-shadow: 0px 8px 15px #7a6447;
    transform: scale(1);
}