body{
    background-image: url(../IMG/backgrounds/background-teste-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section {
    margin-top: 0;
    padding: 30px;
}

.error-message{
    color: red;
    text-align: center;
    margin-bottom: 5px;
}

.menu-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.sobre {
    text-align: justify;
    padding: 1vw;
    font-size: 1.2vw;
}

.sobre-div {
    background-color: rgba(255, 255, 255, 0.562);
    width: 60vw;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #c5c1bc;
}

.title-sobre,
.avaliacao {
    font-size: 2.2vw;
}

.avaliacao{
    margin-bottom: 5px;
}

/* Carrossel de avaliação */
ul {
    list-style: none;
}

.nome-cli {
    text-align: start;
    padding: 5px;
}

.avaliacao-li {
    text-align: justify;
    font-size: 1vw;
    padding: 5px;
}

.carrosel-clientes {
    display: flex;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 15px;
    font-size: 1vw;
    box-shadow: 0px 5px 10px #c5c1bc;
    width: 40vw;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    overflow: hidden;
}

.op-clientes{
    display: flex;
}
.control-btn{
    border: none;
    outline: unset;
    background: none;
    font-size: 3em;
    margin: 5px;
    padding: 20px;
    color: grey;
    transition: transform 0.3s ease;
}

.control-btn:hover{
    color: black;
    transform: scale(1.2);
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}
/* RESPONSIVO */

@media (max-width: 2715px) and (min-width: 1981px){
    footer{
        padding-top: 50px
    }
}


@media screen and (max-width: 900px) {
    .control-btn{
        padding: 0;
    }

    .nome-cli {
        text-align: center;
        font-size: 2.5vw;
        font-style:italic;
    }
    .sobre-div{
        width: 90vw;
    }
    .sobre{
        font-size: 0.6em;
    }

    .avaliacao-li {
        text-align: justify;
        margin-top: 2vh;
        font-size: 2em;
    }

    .carrosel-clientes {
        display: flex;
        background-color: rgba(255, 255, 255, 0.582);
        align-items: center;
        border-radius: 15px;
        width: 80vw;
    }

    .title-sobre,
    .avaliacao {
        font-size: 4vw;
    }
    .avaliacao{
        margin-top: 20px;
    }

}

/* Mídia Screen para telas muito pequenas (max-width: 600px) */
@media screen and (max-width: 700px) {

    .sobre{
        font-size: 0.8em;
    }
    .avaliacao-li {
        font-size: 0.8em;
    }
    .carrosel-clientes {
        width: 80vw;
        font-size: 1.5em;
    }
    .nome-cli{
        font-size: 1em;
    }

    .sobre-div {
        width: 90vw;
    }
}

@media screen and (max-height: 600px){
    .menu-principal{
        height: auto;
    }
}
@media screen and (max-width: 280px) {
    .sobre{
        font-size: 1.2em;
    }
    .avaliacao-li {
        font-size: 0.6em;
    }

    .nome-cli{
        font-size: 0.6em;
    }
    .title-sobre,.avaliacao{
        font-size: 1.2em;
    }
    .control-btn{
        font-size: 2.3em;
    }
}