body{
    background: linear-gradient(0.25turn, #b89568be,#7e7e1670);
} 

main{
    display: flex;
    justify-content: center;
}


.carousel-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.carousel-container h1 {
    margin: 20px;
    font-size: 40px;
     
}
.carousel {
    overflow: hidden;
    position: relative; /* Para alinhar os botões de navegação */
}
.carousel ul {
    list-style: none;
    display: flex;
    transition: transform 1s ease;
}
.carousel li {
    flex: 0 0 100%; /* Isso aqui é para ocupar a largura total do container*/
}
.carousel img {
    width: 100%; /* pras imagem ficar dentro da div certinho e não ficar cortando*/
}

.carousel-1 {
    max-width: 60vw; /* Largura máxima do primeiro carrossel */
}

.prev, .next {
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 20px;
}

.carross{
    display: flex;
    align-items: center;
   
}
.prev {
    left: 0;
}
.next {
    right: 0;
}

.carousel-container .prev, .carousel-container .next {
    background-color: transparent; /* Remove o fundo branco */
    border: none; 
    color: rgb(0, 0, 0);
}
